@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.flex-col-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

body{
    color:#27272b;
}

#searchZone input[type="search"] {
  width: 70%;
  padding: 10px 15px 10px 35px;
  font-size: 15px;
  border: 2px solid #00aff0;
  outline: none;
}

.tailleSearch{
    display: flex;

}

#searchZone {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titleZone {
  display: flex;
  align-items: center;      
  justify-content: center;   

  gap: 10px;                  
  padding-right: 15px;
  height: 90px;             
  width: 90vw;
}

#titleZone img {
  height: 100%;    
  width: auto;               
  object-fit: contain;       
}

#titre{
    font-family: Momo Trust Display;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    margin: 5;
}

@media (max-width: 768px) {
  #titre {
    font-size: 2rem;       
  }
}


#filter {
  padding: 10px 15px;
  font-size: 15px;
  border: 2px solid #00aff0;
  border-radius: 3px;
  outline: none;
  width: 25%;
  background-color: white;
  color: #0077b6;
  cursor: pointer;
}

.card{
    background-color: rgb(247, 247, 228);
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin: 10px auto;
    padding: 5px;

}

.main{
    border: 2px solid #00aff0;
    border-radius: 1%;
    padding: 5px auto;  
    align-items: center;
    margin: 0 auto;
    width: 90vw;
}