@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

#searchZone input[type="search"] {
  width: 70%;
  padding: 10px 15px 10px 35px;
  font-size: 15px;
  border: 2px solid #0077b6;
  outline: none;
}

.tailleSearch{
    align-items: center;
    text-align: center;
}

#searchZone {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter {
  padding: 10px 15px;
  font-size: 15px;
  border: 2px solid #0077b6;
  border-radius: 3px;
  outline: none;
  width: 25%;
  background-color: white;
  color: #0077b6;
  cursor: pointer;
}

#query {
  width: 70%;
  padding: 10px 15px 10px 35px;
  font-size: 15px;
  border: 2px solid #0077b6;
  outline: none;
  border-radius: 3px;
}


#titre{
    font-family: Momo Trust Display;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.card{
    background-color: rgb(247, 247, 228);
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
}

.main{
    border: 2px solid darkcyan;
    border-radius: 1%;
    padding: 5px auto;
    height: 100vh;
    width: 100vh;
    align-items: center;
    margin: 0 auto;
}