@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

/*------------------UTILITAIRES------------------*/

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

body {
  color: #27272b;
  font-family: sans-serif;
  margin: 0;
}

/*------------------CONTAINER PRINCIPAL------------------*/

.main {
  border-radius: 8px;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
}

/*------------------TITRE ET HEADER------------------*/

#titleZone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 90px;
  width: 100%;
}

#titleZone img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

#titre {
  font-family: "Momo Trust Display", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}
#sousTitre {
  font-family: "Momo Trust Display", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

/*------------------FILTRES ET RECHERCHE------------------*/

#searchZone{
  width: 100%;
}

#searchZone * {
  max-height: 46px;
  width: 80%;

  margin: 5px;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 5px;

  text-overflow: ellipsis;
}

.inputStyle {
  color: #8a96a3;
  background: white;

  border-radius: 7px;
  border: 1px solid #8a96a3;
  transition: 0.2s ease;
}

.inputStyle:hover {
  box-shadow: 0 0 0 1px #8a96a3;
}

.inputStyle:focus,
.inputStyle:active {
  color: #00aff0;

  border-color: #00aff0;
  box-shadow: 0 0 0 1.5px #00aff0;
  outline: none;
}

#zoneFiltres{
  font-size: 14px;
}

#filtresTaille *{
  font-size: 14px;
  height: 10px;
  width: auto;
  accent-color: #8a96a3;
}

.card{
    background-color: rgb(247, 247, 228);
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
}

.cardStyle {
  
  color: #8a96a3;
  background: white;

  border-radius: 7px;
  border: 1px solid #8a96a3;
  transition: 0.2s ease;

  margin: 10px;
  padding: 5px;
}

.cardStyle:hover {
  color: #00aff0;
  border-color: #00aff0;
  box-shadow: 0 0 0 1.5px #00aff0;
  outline: none;
}

/*------------------RESPONSIVE------------------*/

@media (max-width: 768px) {
  #titre {
    font-size: 2rem;
  }

  #searchZone input[type="search"] {
    width: 100%;
  }
}
