@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

#searchZone{
    text-align: center;
    margin-top: 10px;
}

#titre{
    font-family: Momo Trust Display;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.card{
    background-color: rgb(247, 247, 228);
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin: 10px auto;
    padding: 5px;

}

.main{
    border: 2px solid darkcyan;
    border-radius: 1%;
    padding: 5px auto;
    height: 100vh;
    width: 100vh;
    align-items: center;
    margin: 0 auto;
}